h1 {  font-family: 'Montserrat-Black';  font-size: 4rem;  line-height: 1.5;  font-weight: 900;}

#title{
  background-color: #ff4c68
}

/*body{
  font-family: 'Merriweather', serif;
}*/

.container-fluid{
  padding: 3% 15%
}


#temp1{
  color: white;
}
.navbar-brand{
  font-family:  'Ubuntu';
  font-size: 2.5rem;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light'
}


/*buttons*/
.Download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
}

.prop{
  color: #ef8172;
  margin-bottom: 7%;

}
.prop:hover{
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
}

.feature-box{
text-align: center;
}
h3{
  font-family: "Montserrat-bold";
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
}

#testimonials{
  background-color: #ef8172;

  text-align: center;
  color: #fff;
}
.Testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;

}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;

}


.pricecom{
  text-align: center;
}

@media (max-width:990px) {
  .title-image{
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
}


#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 10%;
}
#cta1{
  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  padding: 0% 10%;
  color: #fff;
}

#footer{
  background-color: #fff;
  text-align: center;
}
.icons{
  margin: 20px;
}
.buta{
  margin: 20px 10px;
}
